In [1]:
# Example python program to read data from a PostgreSQL table
# and load into a pandas DataFrame
import psycopg2
import pandas as pds
from sqlalchemy import create_engine

In [6]:
# Create an engine instance
#alchemyEngine = create_engine('postgresql+psycopg2://test:@127.0.0.1', pool_recycle=3600);

alchemyEngine = create_engine('postgresql://postgres:postgres!@postgres-adventureworks:5432/adventureworks')

In [7]:
# Connect to PostgreSQL server
dbConnection = alchemyEngine.connect();

In [8]:
# Read data from PostgreSQL database table and load into a DataFrame instance
dataFrame = pds.read_sql("select * from humanresources.department", dbConnection);

In [9]:
pds.set_option('display.expand_frame_repr', False);

In [10]:
# Print the DataFrame
dataFrame

    departmentid                        name                             groupname modifieddate
0              1                 Engineering              Research and Development   2008-04-30
1              2                 Tool Design              Research and Development   2008-04-30
2              3                       Sales                   Sales and Marketing   2008-04-30
3              4                   Marketing                   Sales and Marketing   2008-04-30
4              5                  Purchasing                  Inventory Management   2008-04-30
5              6    Research and Development              Research and Development   2008-04-30
6              7                  Production                         Manufacturing   2008-04-30
7              8          Production Control                         Manufacturing   2008-04-30
8              9             Human Resources  Executive General and Administration   2008-04-30
9             10                     Finance  Executive General and Administration   2008-04-30
10            11        Information Services  Executive General and Administration   2008-04-30
11            12            Document Control                     Quality Assurance   2008-04-30
12            13           Quality Assurance                     Quality Assurance   2008-04-30
13            14  Facilities and Maintenance  Executive General and Administration   2008-04-30
14            15      Shipping and Receiving                  Inventory Management   2008-04-30
15            16                   Executive  Executive General and Administration   2008-04-30

In [8]:
# Close the database connection
dbConnection.close();